/* style.css */
html {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 200;
        font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}
   
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h2 {
    font-size: 2.3dvw;
    font-weight: 100;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }

.d1 {
    display: flex;
}
  
.button {
    font-size: 1.5dvw;
    width: 12dvw;
    height: 1.5dvb;
    background-color: #0000009b;
    color: #739aff;
    border-style:double;
    border-width: 1px;
    border-color: #000000;
    padding: 1dvw 3dvh 2dvw 2dvw;
    cursor: pointer;
    text-decoration: none;
  }
  
.d11 {
    background-color: rgba(182, 182, 182, 0.615);
    width: 72%;
    height: 19dvb;
    padding: 2dvb;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.d12 {
  p {
    font-size: larger;
  }
    background-color: rgba(182, 182, 182, 0.615);
    width: 48%;
    height: 19dvb;
    padding: 2dvb;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.d2 {
    display: flex;
    flex-direction: row; 
}
.d2i1 {
    display: inline;
}

.d21 {
    background-color: rgba(121, 136, 198, 0.338);
    width: 32dvw;
    height: 26dvb;
    padding: 0dvw 0dvw 0 1dvh;
    margin-top: 1dvh;
    display: flex;
    flex-direction: column;
}

.d22 {
    background-color: rgba(182, 182, 182, 0.615);
    width: 32dvw;
    padding: 2dvw 0dvw 0dvw 1dvh;
    margin-top: 1dvh;
    display: flex;
    flex-direction: column;
    height: 26dvb;
}

.d3 {
    background-image: url('https://3dawards.cgarchitect.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWhDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--02008f40de31d73faea35408a5f4c85c7a6223a9/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2Q25OaGRtVnlld1k2REhGMVlXeHBkSGxwWHpvVWNtVnphWHBsWDNSdlgyeHBiV2wwV3dkcEFxZ0NNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--8f40424919c61dcb2321b9ebd78759b909851d15/submission-35064.jpg');
    margin-top: 1dvh;
    margin-left: 1dvh;
    width: 100%;
    padding: 2dvw;
    object-fit: fit;
    font-size: xx-large;
    h2 {
      width: fit-content;
      padding: 1dvw;
      background-color: #ffffff5b;
      color: rgb(0, 0, 0);
      backdrop-filter: blur(10px);
    }
  }
.d3link {
    color: rgb(255, 0, 0);
    font-size: 4dvh;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #000000;
    margin-top: 7dvw;
    text-align: center;
    padding: 0.5%;
    color: #fff;
    width: 100%;
}